.is-long{
    padding-bottom: 10rem;
}

.section.is-primary {
    background-color: #2589BD;
}


.hero, .navbar-menu{
    background-color: white;
}

a{
    padding: 2%;
}

.box-section{
    background-color: #187795;
}

.skills{
    margin-top: -7rem;
}

.other-info{
    margin-bottom: -7rem;
}

.is-bottom{
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #293347;
}
.image-projects:hover .overlay {
    opacity: 1;
}


.footer{
    background-color: #474747;
}

.recent-projects{
    background-color: #086375;
    position: relative;
}

.overlay-text{
    color: white;
    font-size: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer-content{
    margin-top: 8%;

}
